<header class="clearfix">
    <div class="user-info fr"><a  href="/">login</a></div>
    <div class="logo">xx科技有限公司</div>    
 </header>
 <main class="content">
     <aside class="grid-left menu-left">
        <h2 class="menu-title clearfix">主菜单<em class="anticon icon icon-doubleleft fr"></em></h2>
        <ul class="menu-list">
           <li class="menu-item">
                <h2 class="menu-title clearfix">用户管理<span class="anticon icon icon-up fr"></span></h2>
           		<ul class="sub-menu-list">
           		   <li class="sub-menu-item"><a href="#/">admin</a></li>
		           <li class="sub-menu-item"><a href="#/user/list">user</a></li>
           		</ul>
           </li>
           <li class="menu-item">
                <h2 class="menu-title clearfix">系统管理<span class="anticon icon icon-down fr"></span></h2>
           		<ul class="sub-menu-list">
		           <li class="sub-menu-item"><a href="#/product/list">product</a></li>
		           <li class="sub-menu-item"><a href="#/product/upload">upload</a></li>
           		</ul>
           </li>       
        </ul>        
     </aside>
     <section class="grid-right">
          <ui-view></ui-view>
     </section>
 </main>
 <footer class="footer">
     <div class="sub-foot"><p>copyright@xxx 1998-2018</p></div>    
 </footer>
 <script type="text/ng-template" id="hello.html">
          <div>hello,{{name}},<input type="text" ng-model="name"/></div>
     </script>
 <script type="text/ng-template" id="dialog.html">
          <div class="modal-header">
			<h3 class="modal-title">模态框</h3>
		</div>
		<div class="modal-body">
			<ul>
				<li ng-repeat="item in items">
				<a ng-click="selected.item = item">{{item}}</a>
				</li>
				<div class="h2">当前选择： <b>{{selected.item}}</b></div>
			</ul>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">
			确认
			</button>
			<button class="btn btn-warning" ng-click="cancel()">退出</button>
		</div>
</script>